@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$bg_color: #f0f0f1;
$base_color: #ffffff;
$primary_color: #5d5a88;
$two_color: #9795b5;
$three_color: #73718c;
$four_color: #8d8ba7;
$five_color: #f2f1fa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: $bg_color;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  letter-spacing: 0.2px;
}

//Teams#
#teams {
  width: 100%;
  padding: 100px 0 100px 0;
  background-color: $base_color;

  //teams
  .teams {
    text-align: center;
    //&_heading
    &_heading {
      h6 {
        font-weight: 900;
        font-size: 35px;
        color: $primary_color;
        line-height: normal;
      }
      p {
        padding-top: 15px;
        color: $two_color;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
      }

      //Large
      @media screen and (max-width: 1200px) {
        h6 {
          font-size: 30px;
        }
        p {
          font-size: 16px;
          line-height: 25px;
        }
      }
      //Notebook
      @media screen and (max-width: 992px) {
        h6 {
          font-size: 25px;
        }
        p {
          line-height: 23px;
        }
      }
      //Tablet
      @media screen and (max-width: 768px) {
        h6 {
          font-size: 20px;
        }
      }
      //X-Tablet
      @media screen and (max-width: 575px) {
        h6 {
          font-size: 18px;
        }
        p {
          padding-top: 13px;
          font-size: 14px;
          line-height: 20px;
        }
      }
      //Mobil
      @media screen and (max-width: 480px) {
        h6 {
          font-size: 16px;
        }
        p {
          padding-top: 12px;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    //&_items
    &_items {
      padding-top: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 80px 30px;
      //&_box
      &_box {
        img {
          width: 100%;
        }
        h6 {
          padding-top: 20px;
          font-weight: bold;
          font-size: 44px;
          color: $primary_color;
        }
        p {
          padding-top: 10px;
          color: $two_color;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
        }
        ul {
          padding-top: 30px;
          li {
            display: inline-block;
            margin-right: 15px;
            &:last-child {
              margin-right: 0;
            }
            list-style-type: none;
            a {
              display: inline-block;
              width: 35px;
              height: 35px;
              line-height: 35px;
              text-align: center;
              background-color: $five_color;
              color: $four_color;
              &:hover {
                background-color: $four_color;
                color: $five_color;
              }
            }
          }
        }
      }

      //Large
      @media screen and (max-width: 1200px) {
        //&_box
        &_box {
          h6 {
            font-size: 35px;
          }
        }
      }
      //Notebook
      @media screen and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 25px;
        //&_box
        &_box {
          h6 {
            font-size: 30px;
          }
          p {
            font-size: 16px;
            line-height: 25px;
          }
        }
      }

      //Tablet
      @media screen and (max-width: 768px) {
        //&_box
        &_box {
          h6 {
            font-size: 25px;
          }
          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }

      //X-Tablet
      @media screen and (max-width: 575px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px 25px;
        //&_box
        &_box {
          h6 {
            font-size: 20px;
          }
        }
      }
      //Mobil
      @media screen and (max-width: 480px) {
        //&_box
        &_box {
          h6 {
            font-size: 18px;
          }
          p {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }
  }
}
